.catalog-additional__title {
  margin: 0;
  padding: 28px 0 35px 0;

  @include special-font-normal;
  @include text-size(24px, 24px);
  border-bottom: 1px solid $gray-light;
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-additional__item {
  border-bottom: 1px solid $border-grey;
}

.catalog-additional__bounty {
  min-height: 289px;
  background: url("../img/gift-photo-mobile@1x.jpg") 0 0 no-repeat;
  background-size: cover;
}
