.footer__wrapper {
  padding-top: 1px;
  background-color: $basic-grey;
  border-top: 1px;
  overflow: hidden;
}

.footer__link--logo {
  display: block;
  margin: 39px 0 32px 0;
  text: {
    align: center;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright__link--text {
  @include basic-font-normal;
  @include text-size(16px, 18px);
  color: $grey-dark;
  text: {
    decoration: none;
  }
}