.advantages {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-grey;
  }
}

.advantages__wrapper {
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
  }
}

.advantages__title {
  margin: 0 0 38px 0;

  @include special-font-normal;
  @include text-size(36px, 40px);

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;

    @include text-size(60px, 60px);
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  list-style: none;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item--clock {
  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br {
      display: block;
    }
  }
}

.advantages__description {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 80px;
  min-height: 60px;

  @include text-size(14px, 18px);
  color: $grey-dark;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 151px 0 57px 0;

    @include text-size(16px, 24px);

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}
