.advantages__title {
  margin: 27px 0 38px 0;

  @include special-font-normal;
  @include text-size(36px, 40px);
}

.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__description {
  margin: 0;
  padding-left: 80px;

  @include text-size(14px, 18px);

  color: $grey-dark;
  border: 2px solid red;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding-top: 151px;
    padding-left: 0;
    padding-bottom: 57px;

    &::before {
      top: 40px;
    }
  }
}
