.advantages {
  width: 100%;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.advantages__wrapper {
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 11px 40px;
  }
}

.advantages__title {
  margin: 0 0 38px 0;

  @include special-font-normal;
  @include text-size(36px, 40px);

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;

    @include text-size(60px, 60px);
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  list-style: none;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 280px;

    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0;

      @include special-font-normal;
      @include text-size(280px, 280px);
      color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item--useful {
  @media (min-width: $tablet-width) {
    &::after {
      content: "1";
      right: 95px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 17px;
    }
  }
}

.advantages__item--consistency {
  @media (min-width: $tablet-width) {
    &::after {
      content: "2";
      right: 79px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 0;
    }
  }
}

.advantages__item--replacement {
  @media (min-width: $tablet-width) {
    &::after {
      content: "3";
      right: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 0;
    }
  }
}

.advantages__item--clock {
  br:last-child {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;

      &:last-child {
        display: block;
      }
    }

    &::after {
      content: "4";
      right: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: -3px;
    }
  }
}

.advantages__img-wrapper {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.advantages__description {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 80px;
  min-height: 60px;

  @include text-size(14px, 18px);
  color: $grey-dark;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  &::after {
    position: absolute;
    content: "";
    left: 5px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 151px 0 57px 0;

    @include text-size(16px, 24px);
  }
}

.advantages__description--useful {
  &::after {
    background: url("../img/advantage-leaf@1x.png") center no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      width: 25px;
      height: 25px;
    }
  }
}

.advantages__description--consistency {
  &::after {
    background: url("../img/advantage-powder@1x.png") center no-repeat;
  }
}

.advantages__description--dining {
  &::after {
    background: url("../img/advantage-dining@1x.png") center no-repeat;
  }
}

.advantages__description--clock {
  &::after {
    background: url("../img/advantage-clock@1x.png") center no-repeat;
  }
}

