.form {
  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form-order {
  @include special-font-normal;
}

.form__header {
  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
  }
}

.form__title {
  margin: 27px 0 37px 0;

  @include text-size(36px, 36px);
  font-weight: normal;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 54px;

    @include text-size(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.form__text {
  margin: 0 0 39px 0;

  @include text-size(14px, 18px);
  text: {
    transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 66px 40px;

    @include text-size(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form__section {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 40px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    margin-left: 41px;
    margin-right: 39px;

    &::after {
      top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__section-header {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 67px;
    padding: 0 0 0 110px;
  }
}

.form__section-programs {
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    margin: 0 67px 75px 71px;
    border: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin: 0 110px 67px 0;
  }
}

.form__section-contact {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__section-massage {
  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__section-additional {
  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__caption {
  @include input-caption;

  @media (min-width: $tablet-width) {
    @include text-size(20px, 30px);
  }
}

.form__caption--text {
  margin-right: 14px;
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.form__caption--phone {
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }
}

.form__caption--age {
  margin-right: 12px;
  white-space: pre;
}

.form__caption--radio {
  color: $grey-dark-hight;
}

.form__list {
  list-style: none;
}

.form__list--radio {
  margin: 0;
  padding: 26px 20px 0 65px;

  @media (min-width: $tablet-width) {
    padding: 30px 30px 0 88px;
  }
}

.form__list--information {
  margin: 0;
  padding: 0;
}

.form__list--email {
  margin: 0;
  padding: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 35px 0 40px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0;
    padding: 0 0 0 40px;
  }
}

.form__list--checkbox {
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding: 0 110px;
  }
}

.form__radio {
  display: none;
}

.form__checkbox {
  display: none;
}

.form__input {
  flex-grow: 1;
  margin: 0;
  padding: 12px 10px 12px 15px;
  color: $grey-dark;
  border: 1px solid $border-grey-input;

  &::placeholder {
    color: $grey-dark;
    text: {
      transform: uppercase;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 15px 10px 15px 15px;

    &::placeholder {
      @include text-size(20px, 30px);
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 15px;
  }
}

.form__item {
  display: flex;
  align-items: center;
}

.form__item--email {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__item--text {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__item--phone {
  margin-bottom: 0;
}

.form__item--radio {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.form__item--checkbox {
  margin-bottom: 24px;
  padding-left: 46px;

  &:last-child {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 100px;
    margin-bottom: 41px;
    width: 45%;

    &:nth-child(2n) {
      margin-left: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 59px;
    width: auto;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}

.form__mass,
.form__age {
  @media (min-width: $tablet-width) {
    padding: 10px 10px 11px 20px;

    @include special-font-normal;
    @include text-size(20px, 30px);
  }
}

.form__email {
  @media (min-width: $tablet-width) {
    padding: 15px 10px 15px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 10px 15px 24px;
  }
}

.form__phone {
  @media (min-width: $tablet-width) {
    padding: 15px 10px 15px 19px;
  }
}

.form__legend {
  z-index: 2;
  // display: flex;
  // align-items: center;
  padding: 27px 15px 32px 20px;
  // width: 100%;
  background-color: $basic-white;

  @include text-size(24px, 26px);

  // &::after {
  //   display: block;
  //   content: "";
  //   right: 0;
  //   left: 0;
  //   flex-grow: 1;
  //   flex-shrink: 0;
  //   margin-top: 8px;
  //   margin-left: 22px;
  //   height: 2px;
  //   background-color: $basic-green;
  // }

  @media (min-width: $tablet-width) {
    padding: 0 40px 78px 40px;

    @include text-size(36px, 36px);

    // &::before {
    //   display: block;
    //   content: "";
    //   left: 0;
    //   margin-top: 8px;
    //   margin-right: 39px;
    //   width: 30px;
    //   height: 2px;
    //   background-color: $basic-green;
    // }

    // &::after {
    //   margin-left: 36px;
    // }
  }

  // @media (min-width: $desktop-width) {
  //   // width: 100%;
  //   // padding: 0 40px 78px 40px;

  //   // &::before {
  //   //   width: 70px;
  //   //   margin-right: 40px;
  //   // }
  // }
}

.form__wrapper-textarea {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__legend--contact {
  padding-top: 26px;

  &::after {
    margin-top: -20px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;

    &::after {
      margin-top: 10px;
    }

    br {
      display: none;
    }
  }
}

.form__legend--additional {
  padding-top: 28px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 62px;
  }
}

.form__textarea {
  width: 100%;
  border: 1px solid $border-grey-input;

  &::placeholder {
    padding: 12px 0 0 13px;

    @include special-font-normal;
    @include text-size(16px, 18px);
    text: {
      transform: uppercase;
    }
    color: $grey-dark;
  }

  @media (min-width: $tablet-width) {
    min-height: 174px;

    &::placeholder {
      padding: 6px 10px 0 15px;

      @include text-size(20px, 30px);
    }
  }
}

.form__footer {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 110px;
  }
}

.form__button {
  @include text-size(16px, 20px);
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 41px;
    margin-right: 61px;
    padding: 14px 0;
    width: 39.75%;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 14px;
    padding-top: 16px;
    width: 100%;
  }
}

.form__required-areas {
  display: block;
  padding: 21px 0 32px 0;

  @include basic-font-normal;
  @include text-size(14px, 16px);
  text: {
    align: center;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 0;

    @include text-size(16px, 16px);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
