.map {
  position: relative;

  @media (min-width: $tablet-width) {
    max-height: 601px;
  }

  @media (min-width: $desktop-width) {
    max-height: 400px;
  }
}

.map__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 20px 22px 20px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 59px 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 97px;
    left: 113px;
    z-index: 20;
    padding: 62px 89px 59px 76px;
    width: auto;
    background-color: $basic-white;
  }
}

.map__text {
  margin: 0;

  @include special-font-normal;
  @include text-size(16px, 20px); /* По макету 18пх*/
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    margin-left: 41px;

    @include text-size(20px, 25px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-right: 87px;
  }
}

.map__adress {
  margin: 0;
  padding: 3px;
  padding-top: 0;

  @include text-size(14px, 20px);
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    padding: 0 42px 0 0;

    @include text-size(16px, 20px);
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 10px;
    text-align: left;
  }
}

.map__city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 17px;
  }
}

.map__wrapper {
  position: relative;
  height: 364px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__iframe {
  z-index: 2;
  width: 100%;
  height: 100%;
  border: none;
}

.map__wrapper-img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 364px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.map--grey {
  background-color: $basic-grey;
}
