.map {
  position: relative;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 601px;  /*Временно*/
  }

  @media (min-width: $desktop-width) {
    min-height: 400px; /*Временно*/
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 22px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 61px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 62px 89px 59px 76px;
    background-color: $basic-white;
  }
}

.map__text {
  margin: 0;

  @include special-font-normal;
  @include text-size(16px, 20px); /* По макету 18пх*/
  text: {
    transform: uppercase;
  }
  color: $special-black;

  @media (min-width: $tablet-width) {
    margin-left: 41px;

    @include text-size(20px, 25px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-right: 87px;
  }
}

.map__adress {
  margin: 0;
  padding: 3px;

  @include text-size(14px, 20px);
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    padding: 0 42px 0 0;

    @include text-size(16px, 20px);
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 10px;
    text-align: left;
  }
}

.map__city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 17px;
  }
}

.map__wrapper-img {
  height: 362px;
  background: url("../img/bg-map-mobile@1x.png") 0 0 no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
    background: url("../img/bg-map-tablet@1x.png") 0 0 no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/bg-map-desktop@1x.png") 0 0 no-repeat;
    background-size: cover;
  }
}

.map--grey {
  background-color: $basic-grey;
}
