.programs__wrapper {
  padding-top: 22px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 0 71px 40px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 71px;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 30px 20px 0 20px;
  list-style: none;
  background-color: $basic-grey;
  border-bottom: 1px solid transparent;
  overflow: hidden;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 53px 0 53px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.programs__title {
  position: relative;
  margin: 0;
  padding: 0 0 29px 10px;

  @include special-font-normal;
  @include text-size(24px, 37px);
  text: {
    align: center;
    transform: uppercase;
  }

  &::before {
    position: absolute;
    top: -7px;
    left: 2px;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    padding: 0 20px 25px 0;

    @include text-size(36px, 36px);
    text-align: left;

    &::before {
      top: 15px;
      left: 392px;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 73px 0;
    text-align: center;

    &::before {
      top: -29px;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }
}

.programs__title--slim {
  &::after {
    position: absolute;
    content: "";
    top: -10px;
    left: 10px;
    width: 36px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 5px;
      left: 424px;
      width: 140px;
      height: 192px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;

    &::after {
      top: -36px;
      left: 15px;
      width: 70px;
      height: 97px;
    }
  }
}

.programs__title--mass {
  padding-left: 42px;

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -7px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;

    &::after {
      top: 59px;
      left: 360px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;

    &::after {
      top: -9px;
      left: -20px;
      width: 134px;
      height: 56px;
    }
  }
}

.programs__text {
  margin: 0 0 19px 0;
  padding: 0 13px 21px 0;

  @include text-size(14px, 18px);
  color: $grey-dark;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 0 52px 0;
    width: 63%;

    @include text-size(16px, 24px);
    color: $basic-black;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 27px 0;
    width: auto;
  }
}

.programs__text--mass {
  @media (min-width: $tablet-width) {
    width: 57%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.programs__link {
  position: relative;
  display: block;
  margin: 0 20px 22px 0;

  @include special-font-normal;
  @include text-size(16px, 16px);
  text: {
    decoration: none;
    transform: uppercase;
  }
  color: $basic-black;

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 102px;
    width: 32px;
    height: 10px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    @include text-size(20px, 30px);

    &::after {
      top: 9px;
      left: 133px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    margin-bottom: 59px;
  }
}
