.programs__list {
  margin: 0;
  margin-top: 22px;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 82px;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 0 20px 1px 20px;
  list-style: none;
  background-color: $basic-grey;
  border-bottom: 1px solid transparent;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.programs__title {
  margin: 0;
  padding: 30px 0 30px 10px;

  @include special-font-normal;
  @include text-size(24px, 37px);
  text: {
    align: center;
    transform: uppercase;
  }
}

.programs__text {
  margin: 0;
  padding: 0 13px 22px 0;

  @include text-size(14px, 18px);
  color: $grey-dark;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  display: block;
  margin: 19px 0 22px 20px;

  @include special-font-normal;
  @include text-size(16px, 16px);
  text: {
    decoration: none;
    transform: uppercase;
  }
  color: $basic-black;
}
