.top {
  position: relative;
  background: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #63a93c 100%, $basic-white);
  background-repeat: no-repeat;
  background-size: auto 63%;
  background-position-x: center;

  @media (min-resolution: 2dppx) {
    background: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #63a93c 100%, $basic-white);
    background-repeat: no-repeat;
    background-size: auto 63%;
    background-position-x: center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    min-height: 870px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -116px;
    padding: 0;
    min-height: 0;
    height: 693px;
    background: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, $basic-white 50%, #63a93c 50% 100%);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: right;

    @media (min-resolution: 2dppx) {
      background: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, $basic-white 50%, #63a93c 50% 100%);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: right;
    }
  }
}

.top__wrapper {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-left: 70px;
    padding-right: 110px;
    width: 1440px;
  }
}

.top__title {
  margin: 0;
  padding: 27px 0 25px 0;

  @include special-font-normal;
  @include h1;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px 87px;
    padding: 0 30px 0 0; /*Удали 30*/

    @include text-size(60px, 60px);
    text-align: left;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 121px;
    padding-top: 225px;
  }
}

.top__slogan {
  margin: 0;
  margin-bottom: 29px;
  padding-right: 30px;

  @include special-font-normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 0 0 49px 87px;

    @include text-size(20px, 20px);
    text-align: left;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 121px;
  }
}

.top__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 260px;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    left: 560px;
    top: 143px;
  }
}

.top__button {
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    z-index: 2;
    margin-top: 0; /*Временно*/
    margin-left: 83px;
    padding: 15px 0;
    width: 244px;

    @include text-size(20px, 22px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 121px;
  }
}
