.widget {
  min-height: 703px; /*Временно*/
  background-color: $special-grey-dark;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 1082px; /*Временно*/
    background-color: $basic-white;

    &::after {
      position: absolute;
      z-index: 1;
      content: "";
      bottom: 0;
      right: 0;
      left: 0;
      height: 42.75%;
      background-color: $special-grey-dark;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 656px; /*Временно*/

    &::after {
      height: 70.5%;
    }
  }
}

.widget__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.widget__header {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    display: block;
    z-index: 2;
    background-color: transparent;
  }
}

.widget__title {
  margin: 0;
  padding: 27px 0 36px 0;

  @include special-font-normal;
  @include text-size(36px, 40px);

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding: 43px 20px 63px 0;

    @include text-size(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0 146px 0;
    background-color: transparent;
  }
}

.widget__description {
  margin: 0;
  margin-bottom: 25px;

  @include text-size(14px, 18px);
  text-align: left;
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 54px;
    padding-right: 5px;

    @include text-size(16px, 24px);

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding-right: 175px;
  }
}

.widget__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.widget__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-width: 160px;
  }

  &:not(:first-child) {
    margin-left: 42px;
  }
}

.widget__value {
  padding: 15px 0 11px 0;

  @include special-font-normal;
  @include text-size(24px, 24px);
  text: {
    align: center;
    transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    @include text-size(30px, 37px);
  }
}

.widget__key {
  margin: 0;

  @include text-size(12px, 12px);
  text-align: center;
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    @include text-size(14px, 14px);

    br {
      display: none;
    }
  }
}

.widget__slogan {
  margin: 0;

  @include special-font-normal;
  @include text-size(14px, 20px);
  text: {
    align: center;
    transform: uppercase;
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 11px;

    @include text-size(20px, 20px);
    text-align: right;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: left;

    br {
      display: none;
    }
  }
}

.widget__price {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    margin: 0;
    margin-left: 60px;
  }
}

.widget__cats {
  display: none;
  background: $special-grey-dark;
}

.widget__toggle-was,
.widget__toggle-get {
  @include special-font-normal;
  @include text-size(16px, 20px);
  text: {
    transform: uppercase;
  }
}
