.widget {
  background-color: $special-grey-dark;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      height: 42.75%;
      background-color: $special-grey-dark;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 70.5%;
    }
  }
}

.widget__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0 auto;
    padding: 0 110px;
    width: 1440px;
  }
}

.widget__container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.widget__header {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 85px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    display: block;
    z-index: 2;
    margin-bottom: 78px;
    background-color: transparent;
  }
}

.widget__title {
  margin: 0;
  padding: 27px 0 33px 0;

  @include special-font-normal;
  @include text-size(36px, 40px);

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding: 43px 20px 63px 0;

    @include text-size(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0 146px 0;
    background-color: transparent;
  }
}

.widget__description {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;

  @include text-size(14px, 18px);
  text-align: left;
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 54px;
    padding-right: 10px;

    @include text-size(16px, 24px);

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding-right: 110px;
  }
}

.widget__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.widget__item {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-light;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    min-width: 160px;

    &:not(:first-child) {
      margin-left: 44px;
    }
  }
}

.widget__value {
  padding: 14px 0 15px 0;

  @include special-font-normal;
  @include text-size(24px, 24px);

  text: {
    align: center;
    transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;

    @include text-size(30px, 37px);
  }
}

.widget__key {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -17px;
  margin: 0 auto;
  padding: 0 7px;
  width: 100px;

  @include text-size(12px, 12px);
  text-align: center;
  color: $grey-dark;
  background-color: $special-grey-dark;

  @media (min-width: $tablet-width) {
    bottom: -5px;
    width: 145px;

    @include text-size(14px, 14px);
    background-color: $basic-white;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $special-grey-dark;
  }
}

.widget__slogan {
  margin: 0;
  margin-bottom: 34px;

  @include special-font-normal;
  @include text-size(14px, 20px);

  text: {
    align: center;
    transform: uppercase;
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    margin-bottom: 0;

    @include text-size(20px, 20px);
    text-align: right;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: left;

    br {
      display: none;
    }
  }
}

.widget__price {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    margin: 0;
    margin-left: 60px;
  }
}

.widget__cats {
  position: relative;
  text-align: center;
  background-color: $special-grey-dark;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 79%;
  }
}

.widget__cats-thin {
  display: none;
  background-color: transparent;
}

.widget__cats-img {
  position: relative;
  max-width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    left: 7px;
  }

  @media (min-width: $desktop-width) {
    left: 30px;
  }
}

.widget__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px auto 32px auto;
  width: 196px;

  @media (min-width: $tablet-width) {
    margin: 10px auto 67px auto;
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    margin: 35px 0 50px auto;
  }
}

.widget__scale {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: -3px 14px 0 18px;
  padding: 0 6px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid $gray-light;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 20px;
    height: 6px;
    background-color: $scale;
    border: none;
  }
}

.widget__scale-toggle {
  width: 50%;
  height: 6px;
  background-color: $basic-green;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -15px;
    width: 40px;
    height: 40px;
    background: url("../img/slider-control.svg") 0 0 no-repeat;
    background-size: 100%;
    border: none;

    &:hover {
      background-image: url("../img/slider-control-hover.svg");
    }

    &:active {
      background-image: url("../img/slider-control-active.svg");
    }
  }
}

.widget__button {
  padding: 0 0 2px 0;

  @include special-font-normal;
  @include text-size(16px, 20px);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted $gray-light;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $gray-light;
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    @include text-size(20px, 30px);
  }
}
