.widget {
  min-height: 703px; /*Временно*/
  background: $special-grey-dark;

  @media (min-width: $tablet-width) {
    min-height: 1082px; /*Временно*/
  }

  @media (min-width: $desktop-width) {
    min-height: 656px; /*Временно*/
  }
}

.widget__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.widget__header {
  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background: $special-grey-dark;
  }
}

.widget__title {
  margin: 0;
  padding: 27px 0 33px 0;

  @include special-font-normal;
  @include text-size(36px, 40px);

  @media (min-width: $desktop-width) {
    background: $basic-white;
  }
}

.widget__description {
  margin: 0;
  margin-bottom: 25px;

  @include text-size(14px, 18px);
  text-align: left;
  color: $grey-dark;
}

.widget__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 0;
  margin-bottom: 17px;
}

.widget__item {
  display: flex;
  flex-direction: column;
}

.widget__value {
  padding: 15px 0 11px 0;

  @include special-font-normal;
  @include text-size(24px, 24px);
  text: {
    align: center;
    transform: uppercase;
  }
}

.widget__key {
  margin: 0;

  @include text-size(12px, 12px);
  text-align: center;
  color: $grey-dark;
}

.widget__slogan {
  margin: 0;

  @include special-font-normal;
  @include text-size(14px, 20px);
  text: {
    align: center;
    transform: uppercase;
  }
}

.widget__cats {
  background: $special-grey-dark;
}

.widget__toggle-was,
.widget__toggle-get {
  @include special-font-normal;
  @include text-size(16px, 20px);
  text: {
    transform: uppercase;
  }
}
