.map {
  min-height: 476px;
}

.map__text {
  @include special-font-normal;
  @include text-size(16px, 18px);
  text: {
    transform: uppercase;
  }
  color: $special-black;
}

.map__adress {
  @include text-size(14px, 20px);
  color: $grey-dark;
}
