.header {
  position: relative;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;  /*Пока 30пх, когда вставлю лого-планшета, поменяю на 24пх*/
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px; /*Пока 56пх, когда вставлю лого-планшета, поменяю на 53пх*/
    padding-bottom: 5px;
  }
}

.header__logo {
  display: block;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $border-grey;

  // @media (max-width: $tablet-width) {
  //   padding-bottom: 12px;
  // }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border: none;

    src: url("img/logo-tablet.svg");
  }
}

.header__logo-img {
  @media (min-width: $tablet-width) {
    src: url("img/logo-tablet.svg");
  }
}
