.header__top {
  min-height: 66px;
}

.header__logo {
  display: block;
  width: 180px;
  margin: 0;
}

.header__main {
  min-height: 305px;

  background: url(../img/index-background-mobile@1x.jpg) 0 0 no-repeat $basic-green;
  background-size: cover;
}

.header__title {
  margin: 0;
  padding-top: 27px;

  @include special-font-normal;
  @include h1;
  text-align: center;
  color: $basic-white;
}

.header__slogan {
  margin: 0;
  padding-top: 25px;
  
  @include special-font-normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
}

.header__toggle {
  width: 24px;
  height: 16px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
