.main-nav {
  @media (min-width: $tablet-width) {
    z-index: 2;
    margin-left: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 23px;
  z-index: 2;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icon-close.svg") no-repeat;
}

.main-nav--close .main-nav__toggle {
  width: 24px;
  height: 16px;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
}

.main-nav--close .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
  }
}

.main-nav__item {
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: 36px;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 22px 20px 23px 20px;

  @include special-font-medium;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-black;
  border-bottom: 1px solid $border-grey;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 0;

    @include special-font-normal;
    @include text-size(18px, 24px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 0 7px 0;
    color: $basic-black; /*Временно*/

    @include text-size(20px, 30px);
  }
}

.main-nav__item--active .main-nav__link {
  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    // &::after {
    //   background-color: $basic-white;
    // }
  }
}
