/* COLOR */
$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$basic-grey: #f2f2f2;
$special-grey: #ebebeb;
$special-grey-dark: #eaeaea;
$gray-light: #cdcdcd;
$gray-middle: #666666;
$grey-dark: #444444;
$grey-dark-hight: #222222;
$error: #ff8282;
$basic-green: #68b738;
$special-green: #5eaa2f;
$border-grey: #e6e6e6;
$border-grey-input: #e7e7e7;
$border-footer: #d9d9d9;
$arrow: #d3d3d3;
$scale: #dcdcdc;
$radio-hover: #bababa;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
