.additional-product {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 38px 0 38px;
    border: 1px solid $special-grey;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $special-grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px 0;
    border-left: none;
    border-right: none;
  }
}

.additional-product__title {
  margin: 0;
  padding: 13px 0 13px 0;

  @include special-font-normal;
  @include text-size(16px, 16px);
  text: {
    transform: uppercase;
  }
  color: $grey-dark-hight;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    @include text-size(20px, 20px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 8px;
  }
}

.additional-product__features {
  display: flex;
  padding-bottom: 15px;

  @include text-size(14px, 14px);
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-left: auto;
    padding-bottom: 0;

    @include text-size(16px, 20px);
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    padding-top: 7px;
    width: 286px;
  }
}

.additional-product__price {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.additional-product__button {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 27%;
  }
}
