.additional-product__title {
  margin: 0;
  padding: 12px 0 13px 0;

  @include special-font-normal;
  @include text-size(16px, 16px);
  text: {
    transform: uppercase;
  }
  color: $grey-dark-hight;
}

.additional-product__features {
  display: flex;
  padding-bottom: 15px;
}

.additional-product__mass,
.additional-product__price {
  @include text-size(14px, 14px);
  color: $grey-dark;
}

.additional-product__price {
  margin-left: auto;
}

.additional-product__button {
  margin-bottom: 19px;

  @media (min-width: $desktop-width) {
    width: 27%;
  }
}
