.catalog-additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog-additional__title {
  margin: 0;
  padding: 28px 0 35px 0;

  @include special-font-normal;
  @include text-size(24px, 24px);
  border-bottom: 1px solid $gray-light;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}

.catalog-additional__item {
  border: 1px solid $border-grey;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;  /*Временно*/
  }
}

.catalog-additional__bounty {
  min-height: 289px;
  background: url("../img/gift-photo-mobile@1x.jpg") 0 0 no-repeat;
  background-size: cover;
}
