.catalog__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.catalog__title {
  margin: 0;
  padding: 0 0 41px 0;

  @include special-font-normal;
  @include text-size(36px, 36px);
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 83px;

    @include text-size(60px, 60px);
    border: none;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__item {
  padding: 19px 0 25px 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 8px 36px 40px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px 35px;
  }
}

.catalog__all {
  border: 2px solid $basic-grey;
}

.catalog__all-text {
  margin: 0;
  padding: 79px 0 8px 0;

  @include special-font-normal;
  @include text-size(16px, 20px);
  text: {
    transform: uppercase;
    align: center;
  }
  color: $special-black;
}

.catalog__all-slogan {
  margin: 0;
  margin-bottom: 21px;

  @include text-size(12px, 16px);
  text: {
    align: center;
  }
  color: $grey-dark;
}

.catalog__all-button {
  margin-bottom: 45px;
  color: $grey-dark;
  background-color: $basic-grey;
  border: none;
}
