.catalog-additional__wrapper {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr min-content;
    padding-bottom: 86px;
    width: 1440px;
  }
}

.catalog-additional__wrapper-title {
  position: relative;

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 43px;
    right: 0;
    left: 60px;
    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 20px;
      left: 0;
    }
  }
}

.catalog-additional__title {
  display: inline-block;
  margin: 0;
  padding: 28px 22px 34px 0;
  background-color: $basic-white;

  @include special-font-normal;
  @include text-size(24px, 24px);

  @media (min-width: $tablet-width) {
    padding: 0 36px 80px 36px;

    @include text-size(36px, 36px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    padding: 0 35px 0 40px;
    margin-bottom: 78px;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    margin-right: 80px;
    padding: 0;
    padding-left: 110px;
  }
}

.catalog-additional__item {
  border-bottom: 1px solid $border-grey;

  &:first-child {
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;  /*Временно*/
    border: 1px solid $border-grey;
    padding-right: 0;
  }
}

.catalog-additional__bounty {
  display: flex;
  flex-direction: column;
  margin: 39px 20px 35px 20px;
  background: url("../img/gift-photo-mobile@1x.jpg") 0 0 no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 69px 30px 76px 30px;
    background: url("../img/gift-photo-tablet@1x.jpg") 0 0 no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    grid-column: 4 / 5;
    margin: 0;
    margin-right: 110px;
    background: url("../img/gift-photo-desktop@1x.jpg") 0 0 no-repeat;
  }
}

.catalog-additional__bounty-svg {
  margin: 58px auto;

  @media (min-width: $tablet-width) {
    margin: 63px 0 68px 87px;
    width: 59px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    margin: 59px 81px 60px 84px;
    width: 80px;
    height: 67px;
  }
}

.catalog-additional__bounty-text {
  margin: 0;
  margin-bottom: 40px;

  @include text-size(16px, 20px);
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 71px 124px 69px auto;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
  }
}
