.product-item__title {
  margin: 0;

  @include special-font-normal;
  @include text-size(16px, 20px);
  text: {
    transform: uppercase;
  }
}

.product-item__table {
  margin: 0;

  @include basic-font-normal;
  @include text-size(12px, 16px);
}
