.footer__wrapper {
  padding-top: 1px;
  background-color: $basic-grey;
  border-top: 1px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__link-logo {
  display: block;
  margin: 39px 0 32px 0;
  text: {
    align: center;
  }
}
