.footer__wrapper {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer__link-logo {
  display: block;
  padding: 39px 0 27px 0;
  text: {
    align: center;
  }
  border-bottom: 1px solid $border-footer;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $border-footer;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    padding-left: 18px;
    border: none;
  }
}

.footer__copyright {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 34px;
  }
}
