.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 61px 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px 110px;
    width: 1440px;
  }
}

.footer__link-logo {
  display: block;
  padding: 39px 0 27px 0;
  text: {
    align: center;
  }
  border-bottom: 1px solid $border-footer;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $border-footer;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    padding-left: 18px;
    border: none;
  }
}

.footer__copyright {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 34px;
  }
}
