.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  text-align: center;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 21px 0 23px 0;

  @include special-font-medium;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-black;
  border-bottom: 1px solid $border-grey;
}
