.advantages__title {
  margin: 27px 0 38px 0;
  @include special-font-normal;
  @include text-size(36px, 40px);
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  list-style: none;
}

.advantages__description {
  margin: 0;
  padding-left: 80px;

  @include text-size(14px, 18px);
  color: $grey-dark;
  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    background-color: $basic-green;
}
}
